@page
@model PruebaWebGL.Pages.CreditsModel
@{
    ViewData["Title"] = "Créditos";
}

<!-- Main header of the website, with title of page -->
<div class="col-auto text-container header-img">
    <div class="row justify-content-center">
        <h1 class="main-title pt-0">Créditos</h1>
    </div>
</div>

<div class="col-lg-8 offset-lg-2 my-5">
    <div class="row">
        <div class="col-lg-4 center-image my-4">
            <!-- Lado izquierdo con la imagen -->
            <img src="~/img/Foto_Ferr.JPG" alt="Imagen" class="img-fluid rounded float-start" style="height: 340px; width: 227px;">
        </div>
        <div class="col-lg-8 my-auto">
            <!-- Lado derecho con el título y el texto -->
            <h2 class="text-center text-md-start">Fernando Monroy</h2>
            <p>
                Conoce a Fernando Daniel Monroy Sánchez, el talentoso creador que ha dado vida a "Nina's World". Estudiante del Tecnológico de Monterrey, Fernando combina su pasión por la tecnología con una habilidad excepcional para programar. Con cada línea de código, transforma ideas en realidad. Prepárate para embarcarte en una aventura emocionante y descubrir los límites de la tecnología junto a Fernando y Nina.
            </p>
        </div>
    </div>
</div>