@page
@model PruebaWebGL.Pages.CreditsModel
@{
    ViewData["Title"] = "Créditos";
}

<!-- Main header of the website, with title of page -->
<div class="col-auto text-container header-img">
    <div class="row justify-content-center">
        <h1 class="main-title pt-0">Créditos</h1>
    </div>
</div>

<div class="col-lg-8 offset-lg-2 my-5">
    <div class="row">
        <div class="col-lg-4 center-image my-4">
            <!-- Lado izquierdo con la imagen -->
            <img src="~/img/Foto_Ferr.JPG" alt="Imagen" class="img-fluid rounded float-start" style="height: 340px; width: 227px;">
        </div>
        <div class="col-lg-8 my-auto">
            <!-- Lado derecho con el título y el texto -->
            <h2 class="text-center text-md-start">Fernando Monroy</h2>
            <p>
                Conoce a Fernando Daniel Monroy Sánchez, el talentoso creador que ha dado vida a "Nina's World". Estudiante del Tecnológico de Monterrey, Fernando combina su pasión por la tecnología con una habilidad excepcional para programar. Con cada línea de código, transforma ideas en realidad. Prepárate para embarcarte en una aventura emocionante y descubrir los límites de la tecnología junto a Fernando y Nina.
            </p>
            <h4>Contacto</h4>
            <p>Mail: <a href="mailto:a01750536@tec.mx" target="_blank">a01750536@tec.mx</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/ferdms/" target="_blank">https://www.linkedin.com/in/ferdms/</a></p>
            <p>Github: <a href="https://github.com/ferDMS" target="_blank">https://github.com/ferDMS</a></p>
        </div>
    </div>
</div>

<div class="row my-4">

    <!-- Título superior de sección de usos externos-->
    <h2 class="my-4">Usos Externos</h2>

    <!-- Sección de audios utilizados -->
    <h4 class="my-2">Sprites Utilizados</h4>
    <div class="row">
        <div class="col-md-3">
            <strong>Nina: </strong>
            <a href="https://www.gameart2d.com/cute-girl-free-sprites.html" target="_blank">Fuente original</a>
            <a href="https://www.gameart2d.com/license.html" target="_blank">Licencia Creative Commons Zero</a>
        </div>
        <div class="col-md-3">
            <strong>Paisaje final: </strong>
            <a href="https://www.wallpaperflare.com/steven-universe-steven-universe-tv-show-cartoon-network-wallpaper-ytcrt/download/1024x600" target="_blank">Fuente original</a>
            <span>De Cartoon Network</span>
        </div>
        <div class="col-md-3">
            <strong>Pájaros: </strong>
            <a href="https://play.google.com/store/apps/details?id=com.nguyenhuyhieu.RunNow&hl=en_ZA&gl=US" target="_blank">Fuente original</a>
            <span>De Nguyen Huy Hieu</span>
        </div>
        <div class="col-md-3">
            <strong>Paisaje de juego: </strong>
            <span>Proporcionado por Claudia Solís</span>
        </div>
    </div>

    <h4 class="my-2">Audios Utilizados</h4>
    <div class="row">
        <div class="col-md-3">
            <strong>Moneda: </strong>
            <a href="https://samplefocus.com/samples/mario-bros-coin-fx" target="_blank">Fuente original</a>
            <a href="https://samplefocus.com/license" target="_blank">Licencia Estándar</a>
        </div>
        <div class="col-md-3">
            <strong>Morir: </strong>
            <a href="https://www.youtube.com/watch?v=m9zhgDsd4P4&ab_channel=GamingSoundFX" target="_blank">Fuente original</a>
            <span>Copyright Nintendo</span>
        </div>
        <div class="col-md-3">
            <strong>Música de fondo: </strong>
            <a href="https://www.youtube.com/watch?v=GS01NLDYXlA&ab_channel=VideoGamesMusic" target="_blank">Fuente original</a>
            <span>Copyright Nintendo
            </span>
        </div>
        <div class="col-md-3">
            <strong>Ganar: </strong>
            <a href="https://www.youtube.com/watch?v=3BsBXp6VkvU&ab_channel=BlittleMcNilsen" target="_blank" ">Fuente original</a>
            <span>Copyright Nintendo</span>
        </div>
    </div>

    <!-- Descargo de responsabilidad e información de fuentes de información -->
    <p class="my-4 textoJustify">Para la creación del juego y su contenido, se pudo haber utilizado la asistencia de ChatGPT de OpenAI. Esto asegura una experiencia creativa y de calidad, aunque es importante tener en cuenta este detalle en el desarrollo del juego.</p>
</div>