html {
    font-size: 14px;
    background-color: #F1F0CC;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #8D775F;
    color: white;
}

body {
    background-color: #F1F0CC;
}

h1 {
    color: #fff;
    text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000;
}

.container #general {
    margin: 0;
    padding: 10vm;
}

.header-img {
    width: 100%;
    height: auto;
    background-image: url('/img/paisaje.png');
    background-size: cover;
    background-position: bottom;
    z-index: -10;
    margin: 0;
    padding: 0;
}

.main-title {
    padding-top: 15%;
    font-size: 660%;
    color: #F1F0CC;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}