@page
@model TableModel
@{
    ViewData["Title"] = "Tabla de Generación";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<img src="~/img/tabla.jpg" class="img-fluid rounded mx-auto d-block" alt="Tabla de generación">
