@page
@model IndexModel
@{
    ViewData["Title"] = "Obten tu Superheroe";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <img src="~/img/superheroes.jpg" class="img-fluid rounded mx-auto d-block" alt="" />
        </div>
        <div class="col-5">

            @if (Model.FirstSubmission)
            {
                <!-- POSIBLE ALERTA DE ERROR -->
                if (!Model.CorrectSubmission)
                {
                    <div class="alert alert-danger">
                        <strong>Error!</strong> Nombre o mes no válidos.
                        Por favor, intenta nuevamente.
                    </div>
                }
                <!-- POSIBLE ALERTA DE EXITO -->
                if (Model.CorrectSubmission)
                {
                    <div class="alert alert-success">
                        <strong>Éxito!</strong> Hemos generado tu nombre de superhéroe, consúltalo más abajo.
                    </div>
                }
            }

            <!-- INTRO -->

            <h1 class="fw-bold text-center py-4">Obten tu nombre de superhéroe</h1>
            <p class="">Haz realidad tu sueño de ser un superhéroe! ¿Te has preguntado qué nombre tendrías como uno? ¡Deja que nuestra página te dé la respuesta! Simplemente ingresa tu <strong>nombre y mes de nacimiento</strong>, y te mostraremos tu identidad secreta!</p>


            <!-- FORMS -->

            <form method="post">
                <div class="form-group pt-3">
                    <label for="inputName">Ingresa tu nombre</label>
                    <input asp-for="name" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Nombre">
                    <small id="nameHelp" class="form-text text-light">Recuerda que puedes ingresar solamente tu primer nombre</small>
                </div>
                <div class="form-group pt-3">
                    <label for="inputMonth">Ingresa tu mes de nacimiento</label>
                    <select asp-for="month" class="form-control" id="inputMonth">
                        <option></option>
                        <option>Enero</option>
                        <option>Febrero</option>
                        <option>Marzo</option>
                        <option>Abril</option>
                        <option>Mayo</option>
                        <option>Junio</option>
                        <option>Julio</option>
                        <option>Agosto</option>
                        <option>Septiembre</option>
                        <option>Octubre</option>
                        <option>Noviembre</option>
                        <option>Diciembre</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-sm mt-3">Generar</button>
            </form>

            <!-- MOSTRAR NOMBRE -->

            @if (Model.CorrectSubmission)
            {
                <p class="text-center pt-3">Tu nombre de superhéroe es:</p>
                <h2 class="text-center pt-3">@Model.nameGenerationOutput  @Model.monthGenerationOutput</h2>
            }

        </div>
    </div>
</div>